doctype html
html
  head
    title Ask Dance Academy
    block scripts
    block style
  body
    nav#navbar
         ul
                div#logo
                    img(src="/static/img3.png")
                li #[a(href="/") Home]
                li #[a(href="/class-info") Class Info]
                li #[a(href="/about-us") About Us]
                li #[a(href="/contact") Contact]
                li #[a(href="/privacy-policy") Privacy Policy]
    block content
    block foot
    footer#footer
         div
                        strong Copyright
                        |  Ask Academy © 2019-2020 | All Rights Reserved.
        
