extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css
      include ../static/privacy.css

block content
    div.container
        h1 Class Info
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum maiores cupiditate voluptas! Illo perferendis rem veniam tenetur obcaecati accusamus, repudiandae neque expedita.
        br
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum maiores cupiditate voluptas! Illo perferendis rem veniam tenetur obcaecati accusamus, repudiandae neque expedita.
        br
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum maiores cupiditate voluptas! Illo perferendis rem veniam tenetur obcaecati accusamus, repudiandae neque expedita.
        br
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum maiores cupiditate voluptas! Illo perferendis rem veniam tenetur obcaecati accusamus, repudiandae neque expedita.
        br
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum maiores cupiditate voluptas! Illo perferendis rem veniam tenetur obcaecati accusamus, repudiandae neque expedita.
        br
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum maiores cupiditate voluptas! Illo perferendis rem veniam tenetur obcaecati accusamus, repudiandae neque expedita.
        br
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum maiores cupiditate voluptas! Illo perferendis rem veniam tenetur obcaecati accusamus, repudiandae neque expedita.
        br
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum maiores cupiditate voluptas! Illo perferendis rem veniam tenetur obcaecati accusamus, repudiandae neque expedita.
        br
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum maiores cupiditate voluptas! Illo perferendis rem veniam tenetur obcaecati accusamus, repudiandae neque expedita.
        br
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum maiores cupiditate voluptas! Illo perferendis rem veniam tenetur obcaecati accusamus, repudiandae neque expedita.
        br
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum maiores cupiditate voluptas! Illo perferendis rem veniam tenetur obcaecati accusamus, repudiandae neque expedita.
        br
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum maiores cupiditate voluptas! Illo perferendis rem veniam tenetur obcaecati accusamus, repudiandae neque expedita.
        br
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum maiores cupiditate voluptas! Illo perferendis rem veniam tenetur obcaecati accusamus, repudiandae neque expedita.
        br
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum maiores cupiditate voluptas! Illo perferendis rem veniam tenetur obcaecati accusamus, repudiandae neque expedita.
        br
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum maiores cupiditate voluptas! Illo perferendis rem veniam tenetur obcaecati accusamus, repudiandae neque expedita.
        br
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum maiores cupiditate voluptas! Illo perferendis rem veniam tenetur obcaecati accusamus, repudiandae neque expedita.
        br
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum maiores cupiditate voluptas! Illo perferendis rem veniam tenetur obcaecati accusamus, repudiandae neque expedita.
        br
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum maiores cupiditate voluptas! Illo perferendis rem veniam tenetur obcaecati accusamus, repudiandae neque expedita.
        br
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum maiores cupiditate voluptas! Illo perferendis rem veniam tenetur obcaecati accusamus, repudiandae neque expedita.
        br