extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css

block content
    

    section#firstSection
        div Welcome To Ask Dance Academy
        div.small Eat Dance Sleep Repeat  

    section#secondSection
         h1 Our Mantra 
         div.card
            h3 Group Dance
            div.image
                img(src="/static/img7.png")
                p  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium consequuntur eius vel voluptatibus quasi expedita. Culpa est optio sed sunt excepturi. Aut, deserunt repellat dolorem reprehenderit nihil ipsum optio recusandae laborum quo quos non? Obcaecati non tempore dicta reprehenderit omnis, dolor eveniet voluptas tenetur sint facere. Impedit corporis sit distinctio?
         div.card
            h3 Break Dance
            div.image
              img(src="/static/img3.png")
              p  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium consequuntur eius vel voluptatibus quasi expedita.  Culpa est optio sed sunt excepturi. Aut, deserunt repellat dolorem reprehenderit nihil ipsum optio recusandae laborum quo quos non? Obcaecati non tempore dicta reprehenderit omnis, dolor eveniet voluptas tenetur sint facere. Impedit corporis sit distinctio?
         div.card
            h3 Jackson Form
            div.image
              img(src="/static/img5.png")
              p  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium consequuntur eius vel voluptatibus quasi expedita. Culpa est optio sed sunt excepturi. Aut, deserunt repellat dolorem reprehenderit nihil ipsum optio recusandae laborum quo quos non? Obcaecati non tempore dicta reprehenderit omnis, dolor eveniet voluptas tenetur sint facere. Impedit corporis sit distinctio?
        

    section#thirdSection
         h1 Our Sponsors
         div#sponsors 
          img(src="/static/apple.png", class = "sp-image")
          img(src="/static/microsoft.png", class = "sp-image")
          img(src="/static/google.png", class = "sp-image")
          img(src="/static/adobe.png", class = "sp-image")
