@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

.container{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

h1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

p{
    font-family: 'Ubuntu', sans-serif;
}